.auth__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__container {
  margin-top: 50px;
  height: calc(100vh - 100px);
}
.dashboard__file-list {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}
.dashboard__exit {
  position: absolute;
  top: 15px;
  right: 15px;
}
.file__container {
  position: relative;
  /*width: max-content;*/
  width: calc(100% / 6);
  height: 200px;
  border-radius: 6px;
  border: 1px solid #dadce0;
  padding: 12px 16px;
}
.file__label{
  /*z-index: 1;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  /*width: min-content;*/
}
.file__label--wrapper {
  height: 25%;
  display: flex;
  align-items: center;
}
.file__icon--wrapper {
  height: 75%;
  display: flex;
  align-items: center;
}
.file__icon{
  font-size: 64px !important;
  width: 100% !important;
}
.upload-feedback__body {
  /*height: 200px;*/
  /*width: 200px;*/
  /*background: #fff;*/
  /*color: #000;*/
  display: flex;
  align-items: center;
  gap: 20px;
}
/*.context-menu__wrapper {*/
/*  top: 0;*/
/*  right: -210px;*/
/*  width: 200px;*/
/*  z-index: 2;*/
/*  position: absolute;*/
/*  box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 0;*/
/*  border-radius: 10px;*/
/*  background-color: #fff;*/
/*  overflow: hidden;*/
/*}*/
/*.context-menu__wrapper.hidden {*/
/*  display: none;*/
/*}*/
/*@keyframes collapse {*/
/*  from {*/
/*    height: 200px;*/
/*  }*/
/*  to {*/
/*    height: 0;*/
/*  }*/
/*}*/
.fab__uploadFiles {
  position: fixed;
  bottom: 15px;
  right: 50%;
}
.backdrop__icon {
  font-size: 272px !important;
  color: #fff;
  animation: 1s pulse;
}
@keyframes pulse{
  from {
    font-size: 272px !important;
  }
  to {
    font-size: 282px !important;
  }
}
